# there are a lot of symlinks in functions/
# so we ignore all .fish files and add them with git add -f
*.fish

# some plugins have other extensions:
*.py
*.awk

# other fish-shell related files:
*_history
fishd*
fishfile
